/* Target card-outer within card-work */
.card-work .card-outer {
  position: relative; /* Relatively position the element */
  overflow: hidden; /* Hide any overflow */
}

/* Target the image inside card-image inside card-work */
.card-work .card-image img {
  height: 30rem; /* Set the height of the image */
  width: 100%; /* Set the width of the image */
  object-fit: cover; /* Ensure the image covers the container */
  vertical-align: bottom; /* Vertically align the image to the bottom */
}

/* Target card-inner inside card-work */
.card-work .card-inner {
  position: absolute; /* Absolutely position the element */
  top: -0.1rem; /* Set the vertical position */
  left: -0.1rem; /* Set the horizontal position */
  right: -0.1rem; /* Set the horizontal position */
  z-index: 1; /* Set the z-order */
}

/* Target card-inner when card-work is hovered */
.card-work:hover .card-inner {
  background-color: rgba(0, 0, 0, 0.7); /* Set the background color on hover */
}

/* Target card-title inside card-work */
.card-work .card-title {
  text-align: center; /* Center align the text */
  margin: 0; /* Margins all around should be 0 */
  opacity: 0; /* Set the opacity to its lowest value */
  height: 100%; /* Set the height of the title */
  position: relative; /* Set the position to relative */
}

/* Target the link inside card-title and card-work */
.card-work .card-title a {
  display: block; /* Make the link a block-level element */
  text-decoration: none; /* Ensure text is not decorated */
  padding-top: 45%; /* Set padding on top */
}

/* Create the after pseudo-elements of the link (inside card-title and card-work) */
.card-work .card-title a::after {
  position: absolute; /* Absolutely position the pseudo-element */
  top: 0; /* Set the top position */
  right: 0; /* Set the right position */
  bottom: 0; /* Set the bottom position */
  left: 0; /* Set the left position */
  content: ''; /* Ensure content is empty */
}

/* Target card-title when card-work is hovered */
.card-work:hover .card-title {
  opacity: 1; /* Set the opacity to 1 on hover */
}

